.body {
  /* background-color: rgb(63, 63, 63); */
  height: 100vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.hashtagPart {
  height: 550px;
  width: 25%;
  margin-top: 2rem;
  /* background-color: #272829; */
  background-color: #181818;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.roomsPart {
  /* height: 500px; */
  width: 40%;
  margin-top: 2rem;
  /* background-color: #272829; */
  border-radius: 15px;
  overflow-y: scroll;
  margin-bottom: 6rem;
}

.adPart {
  width: 25%;
  margin-top: 2rem;
  /* background-color: #181818; */
  border-radius: 15px;
  /* height: 600px; */
}

.topic {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #00abb3;
  font-weight: bold;
}

.topic:hover{
  cursor: pointer;
}

.topicNumber {
  width: 2rem;
  height: 2rem;
  background-color: rgb(63, 63, 63);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headr {
  width: 90%;
  height: 10%;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.createDiv {
  width: 100%;
  height: 40%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.createForm {
  width: 80%;
  /* background-color: red; */
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 100%; */
}

.rooms {
  width: 100%;
  height: 90%;
  /* background-color: #272829; */
  /* background-color: #00ABB3; */
}

.room {
  width: 95%;
  margin: auto;
  height: 10rem;
  background-color: #181818;
  margin-top: 1rem;
  border-radius: 15px;
  padding: 2% 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.roomHeadr {
  width: 100%;
  height: 30%;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: space-between;
}

.userTag {
  display: flex;
  align-items: center;
}

.userTag:hover{
  cursor: pointer;
}

.roomBody {
  height: 35%;
  width: 100%;
  overflow: hidden;
  /* background-color: white; */
  color: white;
  font-weight: bold;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}
.roomBody:hover{cursor: pointer;}
.roomBottom:hover{cursor: pointer;}

.roomBottom {
  display: flex;
  width: 100%;
  height: 25%;
  /* background-color: white; */
  justify-content: space-between;
  align-items: center;
}

.peopleTag {
  display: flex;
  width: 17%;
  justify-content: space-between;
  /* background-color: gray; */
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

.topicTag {
  font-size: 0.9rem;
  font-weight: bold;
  color: #00abb3;
}

.ad {
  width: 100%;
  height: 20rem;
  background-color: #181818;
  border-radius: 15px;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friendList {
  height: 10rem;
  width: 100%;
  background-color: #181818;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  padding: 1rem;
  justify-content: space-around;
}

.input-border {
  border-color: #00ABB3 !important;
}

.inputLabel {
  color: #00ABB3 !important;
}

.helper-text {
  text-transform: initial;
  font-size: 1rem !important;
}

.selectStyle {
    width: 100%;
    height: 50px;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #00ABB3;
    background-color: #181818;
    color: #00ABB3;
}

/* Custom styling for the label */
.labelStyle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0.4rem;
    color: white;
}

/* css fro profile */
.profileHeadr{
  height: 50%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.profileRow{width: 50%;}
@media (max-width: 768px) {
  /* Styles for small screens */
  .adPart{
    display: none;
  }

  .body{
    flex-direction: column;
    align-items: center;
  }

  .hashtagPart {
    height: 25%;
    width: 90%;
    margin-top: 2rem;
    /* background-color: #272829; */
    background-color: #181818;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    display: none;
  }

  .topic{
    font-size: 90%;
    margin-top: 0.2rem;
  }

  .roomsPart {
    /* height: 500px; */
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    /* background-color: red; */
    border-radius: 15px;
    overflow-y: scroll;
    margin-bottom: 0rem;

  }

  .headr {
    width: 90%;
    height: 10%;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .createDiv {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .profileRow{
    width: 70%;
  }

  .pnumber{visibility: hidden;}
}